[package]
authors = ["LongYinan <lynweklm@gmail.com>"]
edition = "2018"
name = "node-rs-bcrypt"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
blowfish = {version = "0.8", features = ["bcrypt"]}
byteorder = "1"
napi = "1"
napi-derive = "1"
phf = {version = "0.9", features = ["macros"]}
radix64 = "0.6"
rand = "0.8"

[target.'cfg(all(target_arch = "x86_64", not(target_env = "musl")))'.dependencies]
mimalloc = {version = "0.1"}

[dev-dependencies]
quickcheck = "1.0"

[build-dependencies]
napi-build = "1.1.0"
