[package]
authors = ["LongYinan <lynweklm@gmail.com>"]
edition = "2021"
name = "node-rs-bcrypt"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
bcrypt = "0.10"
blowfish = {version = "0.9", features = ["bcrypt"]}
byteorder = "1"
global_alloc = {path = "../../crates/alloc"}
napi = {version = "2", default-features = false, features = ["napi3"]}
napi-derive = {version = "2"}
phf = {version = "0.10", features = ["macros"]}
radix64 = "0.6"
rand = {git = "https://github.com/rust-random/rand", rev = "a407bdf"}

[dev-dependencies]
quickcheck = "1.0"

[build-dependencies]
napi-build = "1"
