[package]
edition = "2024"
name = "node-rs_argon2"
version = "0.0.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
argon2 = { workspace = true }
global_alloc = { workspace = true }
napi = { workspace = true, features = ["napi3"] }
napi-derive = { workspace = true, default-features = false, features = ["type-def"] }

[build-dependencies]
napi-build = { workspace = true }
