[package]
authors = ["LongYinan <lynweklm@gmail.com>"]
edition = "2021"
name = "node-rs-crc32"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
crc32c = { version = "0.6" }
crc32fast = { version = "1.3", features = ["nightly"] }
global_alloc = { path = "../../crates/alloc" }
napi = { version = "2", default-features = false, features = ["napi3"] }
napi-derive = { version = "2", default-features = false }

[build-dependencies]
napi-build = "1"
