name: Lint

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2023-03-01
          components: rustfmt, clippy

      - name: 'Install dependencies'
        run: yarn install --mode=skip-build

      - name: ESLint
        run: yarn lint

      - name: TypeCheck
        run: yarn typecheck

      - name: Cargo fmt
        run: cargo fmt -- --check

      - name: Clippy
        run: cargo clippy
